.cards {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  .mem-card {

    display: block;
    background: #eee;
    padding: 50px;
    margin: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: background .3s;
    &:hover {
      cursor: pointer;
    }
  }
  .hidden {
    transition: background .3s;
    background: #444;
    color: #444;
  }
  .shown {
    background: #eee !important;
  }
  .flipped {
    background: #eee !important;
  }
}
#won {
  display: none;
}
#restart {
  display: none;
}
.show-won {
  display: inherit !important;
}
.show-restart {
  display: inherit !important;
}
